<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            font-family: sans-serif;
            background-color: darkkhaki;
        }
        </style>
</head>
<body>
    <h1>EDIT STUDENT INFORMATION</h1>
    <form method="post">
        {%csrf_token%}
        <center>
        <table border="2">
            <tr>
                <td> STUDENT NAME</td>
                <td><input type ="text" name="sname" value="{{student.sname}}" required/></td>
            </tr>
            <tr>
                <td> STUDENT AGE</td>
                <td><input type ="text" name="age" value="{{student.age}}" required/></td>
            </tr>
            <tr>
                <td>PERCENTAGE</td>
                <td><input type ="text" name="percentage" value="{{student.percentage}}" required/></td>
            </tr>
            <tr>
                <td> LOCATION</td>
                <td><input type ="text" name="location"  value="{{student.location}}" required /></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="EDITSTUDENT" /><td>
            </tr>
        </center>
        </table>


        </form>

    
</body>
</html>