<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <style>
       body{   background-color:palevioletred;}
       tr{
      color:black;
       }
        </style>

</head>
<body>
  <form method="post" action="verify">
    {%csrf_token%}
    <center>
    <table border="2">
        <tr>
            <td>USERNAME</td>
            <td><input type="text" name="uname"required/></td>

        </tr>
        <tr>
            <td>PASSWORD</td>
            <td><input type="password" name="pwd"required/></td>
            
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Login"></td>
        </tr>
    </center>
    </table>
  </form>
</body>
</html>